<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MySuite" verbose="1">
    <suite-files>
        <suite-file path="src/test/resources/erorrscoptersng.xml"/>
        <suite-file path="src/test/resources/servicescoptersng.xml"/>
    </suite-files>
</suite>