<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MySuite" verbose="1">
    <test name="MyTest" group-by-instances="true">
        <classes>
            <class name="com.halas.service.TestServicesCopters"/>
            <class name="com.halas.service.TestErrorsCopters"/>
        </classes>
    </test>
</suite>